*{
    margin: 0px;
    padding: 0px;
}

.Gridwrapper{
    position: relative;
    top: 15vh;
    display: grid;
    width: 100%;
    height:120vh;
    grid-template-areas:
    "a1"
    "s1"
    "a2"
    "fo"
    ;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    background: gold; 
    row-gap: 0px;
    grid-gap: 1px;
}

.Gridwrapper2{
    position: relative;
    top: 15vh;
    display: grid;
    width: 100%;
    height:100vh;
    grid-template-areas: 
    "a1 a1 a1 a1"
    "s1 s1 s1 s1"
    "fo fo fo fo"
    ;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    background: gold; 
    row-gap: 0px;
    column-gap: 0px;
    grid-gap: 1px;
}

.Header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    background-color: black;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.Titel{
    position: absolute;
    bottom: 20px;
}

li{
    color: gold;
}

u{
    color: gold;
}

h1{
    color: gold;
}

h2{
    color: gold;
}

h3{
    color:gold
}

h4{
    color: gold;
}

h5{
    color: gold;
}

h6{
    color: gold;
}

address{
    color: gold;
}


.Nav{
    position: fixed;
    top: 15vh;
    height: 0vh;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: darkblue;
    font-family: sans-serif;   
}
.Article1{
    grid-area: a1;
    background: linear-gradient(to bottom, black 0%, darkblue 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;   
}

.Article1-2{
    grid-area: a1;
    background: linear-gradient(to bottom, black 0%, darkblue 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;  
    text-align: center; 
}

.Article2{
    grid-area: a2;
    background: linear-gradient(to bottom, darkblue 0%, black 100%);;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;   
    flex-direction: column;
}

.Section1{
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;   
}

.Innergridwrapper{
    grid-area: s1;
    background: linear-gradient(to bottom, darkblue 0%, black 100%);
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px 
}

.Innerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: fo;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;   
    text-align: center;
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: -50vw;
    top: 0;
    height: 85vh;
    background: linear-gradient(to bottom, black 0%, darkblue 50%, black 100%);
    align-items: center;
    width: 50vw;
    transition: all 0.5s;
}

.navActive{
    transform: translateX(50vw);
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: gold;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
}

.burger{
    margin-left: 25px;
    cursor: pointer ;
    position: absolute;
    align-items: center;
    bottom: 25px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: yellow;
    margin: 5px;
    border-radius: 10%;
    transition: all 0s;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.logo{
    width: 10vw;
    position: absolute;  
    right: 15px;
}

.img1{
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img1-2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img2{
    width: 16vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img2-2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.img3{
    width: 23vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img3-2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.img4{
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img4-2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.img5{
    width: 23vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img5-2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.img6{
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img6-2{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.img7{
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img7-2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.img8{
    width: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img8-2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.img9{
    width: 30%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 800px){
    .Gridwrapper{
        position: relative;
        top: 15vh;
        display: grid;
        width: 100%;
        height:125vh;
        grid-template-areas: 
        "a1"
        "s1"
        "a2"
        "fo"
        ;
        grid-template-columns: 1fr;
        grid-auto-rows:  1fr 1fr 1fr 1fr;
        background: gold; 
        row-gap: 0px;
        grid-gap: 1px;
    }
    
    .Gridwrapper2{
        position: relative;
        top: 15vh;
        display: grid;
        width: 100%;
        height:125vh;
        grid-template-areas: 
        "a1 a1 a1 a1"
        "s1 s1 s1 s1"
        "fo fo fo fo"
        ;
        grid-template-columns:  1fr 1fr 1fr 1fr;
        grid-auto-rows:  1fr 1fr 1fr;
        background: gold; 
        row-gap: 0px;
        column-gap: 0px;
        grid-gap: 1px;
    }
    .img1{
        width: 10vw;
    }
    .img1-2{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img2{
        width: 11vw;
    }
    .img2-2{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img3{
        width: 18vw;
    }
    .img3-2{
        width: 18%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img4{
        width: 10vw;
    }
    .img4-2{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img5{
        width: 18vw;
    }
    .img5-2{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img6{
        width: 25vw;
    }
    .img6-2{
        width: 19%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img7{
        width: 12vw;
    }
    .img7-2{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img8{
        width: 12vw;
    }
    .img8-2{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .img9{
        width: 15%;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .navLinks{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        left: -30vw;
        top: 0;
        height: 100vh;
        background: linear-gradient(to bottom, black 0%, darkblue 50%, black 100%);
        align-items: center;
        width: 30vw;
        transition: all 0.5s;
    }

    .navActive{
        transform: translateX(30vw);
    }

}